.masthead {
  padding-top: calc(2rem + 74px);
  padding-bottom: 5rem;
}
.masthead .masthead-heading {
  font-size: 2.75rem;
  line-height: 2.75rem;
}
.masthead .masthead-subheading {
  font-size: 1.25rem;
}

.pdfBar{
	width : 100%;
	background-color : skyblue;	
	z-index : 10;
	opacity : 0;
	transition : 0.3s all;
}



@media (min-width: 992px) {
  .masthead {
    padding-top: calc(2rem + 104px);
    padding-bottom: 6rem;
  }
  .masthead .masthead-heading {
    font-size: 4rem;
    line-height: 3.5rem;
  }
  .masthead .masthead-subheading {
    font-size: 1.5rem;
  }
	
	.pdfBar{
		width : 41.66666%;
	}
}



#Summary {
	background-color : gray;
	width : 100%;
}

#WordCloud {
	background-color : lightblue;
}

@media (min-width: 992px) {
	#page-top {
	margin-top : 104px;
}
}

#page-top {
	margin-top : 74px;
}

.news-item {
	-webkit-transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease, display 0.25s ease;
}

.news-item-wrapper {
	overflow : hidden;
}

.filterArea{
	max-width : 300px;
	background-color : lightgray;
}

#datePicker{
	max-width : 250px;
}

.NewsBlock{
	transition : all 0.5s;
}

.overlay-keyword{
	opacity : 0;
	background-color : #74BDCB;
}

.NewsBlock:hover {
	cursor : pointer;
	border : 2px solid;
	
}

.chart-container {
	width : 100%;
	height : 100%;
	position : relative;
}

.h-8 {
	height : 8%;
}

.h-92 {
	height : 92%;
}

#title{
	border : solid 1px;
}
