
#Summary {
	background-color : gray;
	width : 100%;
}

#WordCloud {
	background-color : lightblue;
}

@media (min-width: 992px) {
	#page-top {
	margin-top : 104px;
}
}

#page-top {
	margin-top : 74px;
}

.news-item {
	-webkit-transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease, display 0.25s ease;
}

.news-item-wrapper {
	overflow : hidden;
}

.filterArea{
	max-width : 300px;
	background-color : lightgray;
}

#datePicker{
	max-width : 250px;
}