extends ../layouts/header

block content
	// Masthead
	header.masthead.bg-primary.text-white.text-center
		.container.d-flex.align-items-center.flex-column
			h1.masthead-heading.text-uppercase.mb-0 국방 늬-우스
			// Icon Divider
			.divider-custom.divider-light
				.divider-custom-line
				.divider-custom-icon
					i.fas.fa-star
				.divider-custom-line
			// Masthead Subheading
			p.masthead-subheading.font-weight-light.mb-0 국방기관 발행 신문 분석 및 시각화 서비스
	
	section#description1.page-section.portfolio.bg-light
		.container-fluid
			h2.page-section-heading.text-center.text-uppercase.text-secondary.mb-0 신문 데이터 가공
			
	section#description2.page-section.portfolio.bg-light
		.container-fluid
			h2.page-section-heading.text-center.text-uppercase.text-secondary.mb-0 키워드 추출 및 분석
			
	section#description3.page-section.portfolio.bg-light
		.container-fluid
			h2.page-section-heading.text-center.text-uppercase.text-secondary.mb-0 분석 정보 시각화
			
	section#portfolio.page-section.portfolio
		.container-fluid
			// Portfolio Section Heading
			h2.page-section-heading.text-center.text-uppercase.text-secondary.mb-0 News
			// Icon Divider
			.divider-custom
				.divider-custom-line
				.divider-custom-icon
					i.fas.fa-star
				.divider-custom-line
			// Portfolio Grid Items
			.row.justify-content-center
				.col-1.d-grid
					button.btn.btn-lg#newsCarouselLeft
						i.fa.fa-chevron-left
				.col-10.news-item-wrapper
						.row.news-item.active.first
							a.portfolio-item.border.border-primary.border-3.col-3.mx-auto(href='/publishers/1')
								.portfolio-item-caption.d-flex.align-items-center.justify-content-center.h-100.w-100
									.portfolio-item-caption-content.text-center.text-white
										i.fas.fa-plus.fa-3x
								img.img-fluid(src='images/portfolio/gookbang.png', alt='...')
						.row.news-item
							a.portfolio-item.border.border-primary.border-3.col-3.mx-auto(href='/publishers/2')
								.portfolio-item-caption.d-flex.align-items-center.justify-content-center.h-100.w-100
									.portfolio-item-caption-content.text-center.text-white
										i.fas.fa-plus.fa-3x
								img.img-fluid(src='images/portfolio/narasarang.png', alt='...')
						.row.news-item
							a.portfolio-item.border.border-primary.border-3.col-3.mx-auto(href='/publishers/3')
								.portfolio-item-caption.d-flex.align-items-center.justify-content-center.h-100.w-100
									.portfolio-item-caption-content.text-center.text-white
										i.fas.fa-plus.fa-3x
								img.img-fluid(src='images/portfolio/yuksa.png', alt='...')
						.row.news-item
							a.portfolio-item.border.border-primary.border-3.col-3.mx-auto(href='/publishers/4')
								.portfolio-item-caption.d-flex.align-items-center.justify-content-center.h-100.w-100
									.portfolio-item-caption-content.text-center.text-white
										i.fas.fa-plus.fa-3x
								img.img-fluid(src='images/portfolio/gongsa.png', alt='...')
				.col-1.d-grid
					button.btn.btn-lg#newsCarouselRight
						i.fa.fa-chevron-right
		script(src='/javascripts/main/carousel.js')

	// Copyright Section
	div.copyright.py-4.text-center.text-white
		.container
			small Copyright &copy; Your Website 2021


	// Bootstrap core JS
	

	// Core theme JS
	