extends ../layouts/header.jade
include ../mixins/NewsBlock.jade

block css
	link(href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" rel='stylesheet')
block javascript
	script(src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js" type="text/javascript")
	script(src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js" type="text/javascript")
	
	
block content
	.container-fluid.h-100
		.row.h-100
			.filterArea.col-4.p-0
				.px-4.h-100
					h2.py-4 Filter
					.datePicker
						span 날짜 필터링
						input.form-control#datePicker(type='text' name='daterange')
						input#startDate(type='hidden')
						input#endDate(type='hidden')
					.keywordSearch.mt-2
						span 포함된 키워드
						input#keywordInput.form-control(type='text' name='keyword' placeholder='키워드를 입력하세요')
					#searchButton.mt-2(pid=pid)
						button.btn.btn-primary.float-end 검색
			.col-8
				.newsListArea.container-fluid.mt-2
					.row.w-100
						.col-md-4
							+NewsBlock(1, '이거슨 테스트입니다 희희희희', '/images/portfolio/cabin.png')
						.col-md-4
							+NewsBlock(2, '이거슨 테스트입니다 희희희희', '/images/portfolio/cabin.png')
						.col-md-4
							+NewsBlock(3, '이거슨 테스트입니다 희희희희', '/images/portfolio/cabin.png')
					
		script(src='/javascripts/news/ajax.js')
				
				