extends ../layouts/header.jade

block css
	link(href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" rel='stylesheet')
block javascript
	script(src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js" type="text/javascript")
	script(src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js" type="text/javascript")
	
	
block content
	nav#mainNav.navbar.navbar-expand-lg.bg-secondary.text-uppercase.fixed-top.navbar-shrink
		.container
			a.navbar-brand(href='/') 국방뉴스
			button.navbar-toggler.text-uppercase.font-weight-bold.bg-primary.text-white.rounded(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
				| Menu 
				i.fas.fa-bars
			#navbarResponsive.collapse.navbar-collapse
				ul.navbar-nav.ms-auto
					li.nav-item.mx-0.mx-lg-1
						a.nav-link.py-3.px-0.px-lg-3.rounded(href='/publisher/1') News1
					li.nav-item.mx-0.mx-lg-1
						a.nav-link.py-3.px-0.px-lg-3.rounded(href='/publisher/2') News2
					li.nav-item.mx-0.mx-lg-1
						a.nav-link.py-3.px-0.px-lg-3.rounded(href='/publisher/3') News3
	.container-fluid.h-100
		.row.h-100
			.col-4.p-0
				.filterArea.px-4.h-100
					h2.py-4 Filter
					.datePicker
						span 날짜 필터링
						input.form-control#datePicker(type='text' name='daterange')
						input#startDate(type='hidden')
						input#endDate(type='hidden')
					.keywordSearch.mt-2
						span 포함된 키워드
						input#keywordInput.form-control(type='text' name='keyword' placeholder='키워드를 입력하세요')
					#searchButton.mt-2
						button.btn.btn-primary.float-end 검색
			.col-8
				.newsListArea
		script(src='/javascripts/news/ajax.js')
				
				