doctype html
html(lang='en')

	head

		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
		meta(name='description', content='')
		meta(name='author', content='')

		title Freelancer - Start Bootstrap Theme

		// Favicon
		link(rel='icon', type='image/x-icon', href='/images/favicon.ico')
		
		// Font Awesome icons (free version)
		script(src='https://use.fontawesome.com/releases/v5.15.3/js/all.js', crossorigin='anonymous')
		script(src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js")
		// Google fonts
		link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
		link(href='https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic', rel='stylesheet', type='text/css')
		script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js')
		block css
		block javascript
		// Core theme CSS (includes Bootstrap)
		link(href='/stylesheets/styles.css', rel='stylesheet')
		link(href='/stylesheets/custom.css', rel='stylesheet')

	body#page-top.light
		nav#mainNav.navbar.navbar-expand-lg.text-uppercase.fixed-top.navbar-shrink.bg-1
			.container
				a.navbar-brand(href='/') 국방 늬-우스
				button.bg-5.navbar-toggler.text-uppercase.font-weight-bold.text-white.rounded(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
					| Menu 
					i.fas.fa-bars
				#navbarResponsive.collapse.navbar-collapse
					ul.navbar-nav.ms-auto
						li.nav-item.mx-0.mx-lg-1
							a.nav-link.py-3.px-0.px-lg-3.rounded(href='/publishers/1') 국방일보
						li.nav-item.mx-0.mx-lg-1
							a.nav-link.py-3.px-0.px-lg-3.rounded(href='/publishers/2') 나라사랑신문
						li.nav-item.mx-0.mx-lg-1
							a.nav-link.py-3.px-0.px-lg-3.rounded(href='/publishers/3') 육사신보
						li.nav-item.mx-0.mx-lg-1
							a.nav-link.py-3.px-0.px-lg-3.rounded(href='/publishers/4') 공사신문
		block content
		// Navigation
		
		script(src='/javascripts/scripts.js')